*{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

.home{
  /* display: grid;
  grid-template-areas: 'header'
                       'main'
                       'footer'; */
  justify-content: center;
}
.corazon{
  position: absolute;
}

.header{
  /* grid-area: header; */
  border: 1px solid black;
  font-size: large;
}

main{
  /* grid-area: main; */
  border: 1px solid black;
}
.active{
  color: black;
  text-decoration: none;
  margin-top: 8px;
}
.inActive{
  color: rgb(147, 144, 144);
  text-decoration: none;
}
footer{
  /* grid-area: footer; */
  border: 1px solid black;
}
.imagen{
  height: 200px;
  width: 200px;
}
.productos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 20px;
}
.cards{
  flex-direction: column;
  height: 400px;
  /* background-color: #f8f9fa; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
  flex-grow: 2;
  padding-top: 84px;
}
.corazon{
  border: 1px solid black;
  position: absolute;
}
.medidas{
  border: 1px solid black;
}